* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: url(./assets/blob.png) no-repeat top right;
  background-size: 1200px;

  @media screen and (max-width: 768px) {
    background: none;
  }
}

a {
  text-decoration: none;
}



